html
  head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style.
      body {
        padding: 2vh;
      }
  body    
    div(class='tile is-ancestor is-vertical')
      div(class='tile is-parent')
        div(class='tile')
          textarea(id="html" onchange="convert()"  placeholder='HTML' class='textarea')
      div(class='tile is-parent')
        div(class='tile')
          input(class='button is-info' onclick="convert()" value='Convert')
      div(class='tile is-parent')
        div(class='tile')
          textarea(id='pug' placeholder='Pug' class='textarea')
      script.
        const convert = () => {
          console.log('decode');
          const html = document.getElementById('html').value;
          const pug = document.getElementById('pug');
          const xhr = new XMLHttpRequest();
          xhr.open("POST", '/html-to-pug', true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.onreadystatechange = function() { 
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
              console.log(xhr.response);
              pug.value = xhr.response;
            }
          };
          xhr.send(JSON.stringify({html: html}));
        };

        
      
        


    
   
      
          
        
      