html
  head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://cdn.jsdelivr.net/npm/jsoneditor@9.1.10/dist/jsoneditor.min.js")
    link(href="https://cdn.jsdelivr.net/npm/jsoneditor@9.1.10/dist/jsoneditor.min.css"  rel="stylesheet" type="text/css")
    style.
      body {
        padding: 2vw;
      }

      .resizable {
        overflow: hidden;
        resize: both;
        display:flex; 
        min-height: 40vh;
        margin: 1vh;
      }
  body
    div(class='tile is-ancestor is-vertical')
      div(class='tile is-parent')
        div(class='tile')
          input(type='text' id='url' onchange="update()" placeholder='URL' class='input')
      div(class='tile is-parent')
        div(class='tile')
          textarea(id='sql' onchange="update()"  placeholder='SQL' class='textarea')
      div(class='tile is-parent')
        div(class='tile')
          button(class='button is-info' onclick='update()') Query
      div(class='tile is-parent')
        div(class='tile is-full')
          div(id='result' class='container resizable ')
    script.
      const container = document.getElementById("result");
      const options = {
        mode: 'code',
        modes: ['code', 'form', 'text', 'tree'],
      }
      const editor = new JSONEditor(container, options);

      // set json
      const initialJson = {};
      editor.set(initialJson)

      // get json
      // const updatedJson = editor.get()

      const update = () => {
        const url = document.getElementById('url').value;
        const sql = document.getElementById('sql').value;
        if (url && sql) {
          executeQuery(url, sql);
        }
      };

      const executeQuery = (url, sql) => {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", '/mysql', true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.onreadystatechange = function() { 
          if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            editor.set(JSON.parse(xhr.response));
          }
        };
        const data = {url, sql};
        xhr.send(JSON.stringify(data));
      };

      
        

