html
  head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style.
      body {
        padding: 2vh;
      }
  body
    form(method='POST' action='/tools')
      div(class="field")
          label(class="label") Tool Name
          div(class="control")
              input(class="input" type="text" name='name' placeholder='Tool Name' required)
      div(class="field")
          label(class="label") Tool Description
          div(class="control")
              input(class="input" type="text" name='description' placeholder='Tool Description' required)
      div(class="field is-grouped")
          div(class="control")
            a(class="button is-danger" href='/') Cancel
          div(class="control")
            input(class="button is-link" onclick='load()' type="submit" value="Create Tool")